output
code/run_data/BSE_grid_mass_sep_kick.txt
code/run_data/BSE_grid_N5e6_mass_sep_kick.txt

writing/

# Data from Iorio is large and available online
YieldReview/2023_Iorio/*

code/.DS_Store
*BSE_Grid.txt
*.txt
.DS_Store

*ipynb_checkpoints
